<template name="Header">
	<header>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-2 ">
						<h1 class="titulo-principal text-center" >Mis Radios Favoritas</h1>
				</div>
			</div>
		</div>
	</header>
</template>
