<template name="SideNav">
	<nav class="side-nav navbar">
		<div class="top-center">
			{{> loginButtons class="btn btn-primary btn-lg"}}
		</div>
		<ul>
			<li>
			<a href="/crearRadio"><i class="fa fa-plus"></i> Nueva Radio</a>
			</li>
			<li>
				<a href="/lista-radios"><i class="fa fa-list"></i> Mis Radios</a>
			</li>
		</ul>
		<!-- {{> Search}} -->
	</nav>
</template>
