<template name="crearRadio">
	<div class="row">
<div class="col-sm-2 col-hidden-xs"></div>

			<div class="col-sm-8 col-xs-12">

				<div class="col-md-12 well well-sm radio">
				<div class="col-xs-12">
					<i class="fa fa-close"></i>
				</div>
		<!-- {{> quickForm collection="Radios" id="insertRadioForm" type="insert"
			class="new-radio-form" buttonContent="Crear" buttonClasses="btn btn-lg btn-primary btn-block"}} -->
		<!-- Realizo el manejo manual del form a traves del tipo method sin pasarle
		el metodo que maneja el insert ya que lo hago desde crearRadio.js -->
			{{#autoForm collection="Radios" id="insertRadioForm" type="method"  class="new-radio-form"}}
        {{> afQuickField name='nom'  }}
        {{> afQuickField name='desc' rows=3 class="control-label" }}
        {{> afQuickField name='logo' class="control-label" }}
				{{> afQuickField name='dir' class="fcontrol-label" }}
				{{> afQuickField name='sitio_url' class="control-label" }}
				{{> afQuickField name='streaming_url' class="control-label" }}
				{{> afQuickField name='tipo_streaming' type="select-radio-inline" options="allowed" class="radio-inline fix-indent " }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Crear Radio</button>
      {{/autoForm}}
		</div>
	</div>
<div class="col-sm-2 col-hidden-xs"></div>
</div>

</template>
