<!-- Una Comentario en particular de la coleccion de Comentarios,
Segunda version con la utilizacion de una variable de session y condicionales,
para mostrar el form o el detalle con botones de agregar y quitar Comentarios -->
<template name="comentario">
	<!-- <article class="radio {{#if enMenu}} in-menu {{/if}}"> -->
    <article class="radio">

		<h3 class="titulo-secundario"> {{titulo}} </h3>
		<!-- {{#if $.Session.get 'editMode'}} Esta forma es con la utilizacion de la session-->
		<!-- vamos a utilizar una variable reactiva en un instancia del template al momento de la creacion y tenemos que utilzar en forma adicional un helper en el mismo template -->
<!--  omitFields="_id, createAt, autor, radioId" -->
		{{#if editMode}}
			{{> quickForm collection="Comentarios" id=updateComentarioId type="method-update" doc=this meteormethod="updateComentariosService"
      class="new-radio-form" buttonContent="Modificar"   buttonClasses="btn btn-lg btn-primary btn-block" }}

      <!-- {{#autoForm collection="Comentarios" id=updateComentarioId type="method" Comentario=this meteormethod="modificarComentariosService"}}
        {{> afQuickField name='titulo'  }}
        {{> afQuickField name='desc' rows=4 class="form-control" }}
        {{> afQuickField name='imagen' class="form-control" }}
        <button id ="crearNoti" class="btn btn-lg btn-primary btn-block" type="submit">Crear Comentario</button>
      {{/autoForm}} -->


		{{else}}
    <div class="container-fluid">
      <div class="row text-center">
        <div class="col-sm-12">
          <div class="col-sm-4">DESCRIPCIÓN</div>
          <div class="col-md-8"> <p> {{desc}} </p></div>
        </div>
        <div class="col-sm-12">
          <div class="col-sm-4">IMAGEN</div>
          <div class="col-sm-8"> <p>{{imagen}}</p></div>
        </div>
      </div>
      <div class="col-sm-12">
        <p class="pull-right">Creado por: {{email}}</p>
      </div>
    </div>
  {{/if}}
		<i class="fa fa-pencil"></i>
		<i class="fa fa-trash"></i>

	</article>
</template>
