<!-- Una receta en particular de la coleccion de recetas,
Segunda version con la utilizacion de una variable de session y condicionales,
para mostrar el form o el detalle con botones de agregar y quitar receta -->
<template name="radio">
	<!-- <article class="radio {{#if enMenu}} in-menu {{/if}}"> -->
    <article class="radio">
		<h3 class="titulo-secundario"> {{nom}} </h3>
		<!-- {{#if $.Session.get 'editMode'}} Esta forma es con la utilizacion de la session-->
		<!-- vamos a utilizar una variable reactiva en un instancia del template al momento de la creacion y tenemos que utilzar en forma adicional un helper en el mismo template -->
		{{#if editMode}}
      {{> quickForm collection="Radios" id=updateRadioId type="method-update" doc=this meteormethod="updateRadiosService"
      class="new-radio-form" buttonContent="Modificar" buttonClasses="btn btn-lg btn-primary btn-block" }}
		{{else}}
    <div class="container-fluid">
      <div class="row text-center">
        <div class="linea col-sm-12">
          <div class="col-sm-4">DESCRIPCIÓN</div>
          <div class="col-sm-8"> <p> {{desc}} </p></div>
        </div>
        <div class="linea col-sm-12">
          <div class="col-sm-4">LOGO</div>
          <div class="col-sm-8"> <p>{{logo}}</p></div>
        </div>
        <div class="linea col-sm-12">
          <div class="col-sm-4">SITIO WEB</div>
          <div class="col-sm-8"> <p>{{sitio_url}}</p></div>
        </div>
        <div class="linea col-sm-12">
          <div class="col-sm-4">STREAMING</div>
          <div class="col-sm-8">
              <i id="fa-{{radio_id}}" class="fa fa-play" width="30" height="30"></i>
              <audio controls="controls" class="audio_player" id="{{radio_id}}" preload="auto">
                 <source src="{{streaming_url}}" type="{{tipo_streaming}}">
                  Tu navegador no soporta el elemento audio.
              </audio>
          </div>
        </div>
      </div>
    </div>
		<a class="pull-right" href="/crearComentarios/{{_id}}">Agregar Comentarios</a>
      {{#if isAutor}}
        <button class="btn-primary toggle-private">
          {{#if privado}}
            Privado
          {{else}}
            Publico
          {{/if}}
        </button>
      {{/if}}
		{{/if}}
		<i class="fa fa-pencil"></i>
		<i class="fa fa-trash"></i>
	</article>
</template>
