<template name="stream">
  <div class="btn_play item radio_boton">
    <span id="estado_radio">
      <i class="fa fa-play" width="30" height="30"></i>

    </span>
  </div>

  <audio controls="controls" id="audio_player" preload="auto">
     <source src="{{streaming_url}}" type="{{tipo_streaming}}">
      Your browser does not support the audio element.
  </audio>
  
</template>
