

// Configuracion base de las paginas
body {
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: 1.7em;
	color: $base-font-color;
	background: url("/images/auriculares_cut.jpg") fixed no-repeat;
	// background: url("/images/5.svg") fixed no-repeat;
}

a{
	color:$primary-color;
}

ul,li{
	list-style: none;
}

input, textarea, button {
	@include border-radius(0px);
}

img.device {
	width: 100%;
}

.toggle-private {
  margin-left: 5px;
}

.section-gral{
	background: transparent;
	text-align: center;
	#login-dropdown-list {
	    position: relative;
	    margin: 2px;
			width: 100%;
		#login-email-label-and-input{
			display: block;
			#login-email{
				display: block;
			}
		}
		#login-password-label-and-input{
			#login-password{
				display: block;
			}
		}

	}
	#login-buttons #forgot-password-link{
		float: none;
	}
	#login-buttons #signup-link{
		float: none;
	}
}
