
/* COLORES DE BACKGROUND */
$primary-color: #FF7400; /*    naranja */
$secondary-color: #0bb8d8; /* Azul  */
$dark-color: #7027aa; /* VIOLETA */
$complement-color: #44912B;
$light-color: #E0FFFF; /* */




$base-font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
$base-font-size: 14px;
$base-font-color: $light-color;
