<!-- Utilizacion del autoForm, en vez de pasar el metodo desde el autoForm,
lo estoy manejando como un evento que ademas de realizar algunas
validaciones, le pasa como parametro el id de una radio en particular,
para luego llamar al metodo con toda la informacion -->

<!-- Encontre un problema en el Autoform- Si llamo al metodo desde el evento
realiza el insert pero igual tira un error de meteormethod - falta meteormethod="crearComentariosService" -
Si agrego el metodo en el autoform no puedo pasarle el parametro radioId  -->
<!-- <template name="crearComentarios">
  <div class="container">
    <div class="row">
				<div class="col-md-6 col-md-offset-3 top-space">
					<div class="col-md-12 well well-sm radio">
			      {{#autoForm collection="Comentarios" id="insertComentariosForm" type="method" this=doc }}
			    	  {{> afQuickField name='titulo'  }}
			        {{> afQuickField name='desc' rows=4 class="form-control" }}
							{{> afQuickField name='imagen' class="form-control" }}
			        <button id ="crearNoti" class="btn btn-lg btn-primary btn-block" type="submit">Crear Noticia</button>
			      {{/autoForm}}
				</div>
			</div>
		</div>
	</div>
	{{> ComentariosList}}
</template> -->

<template name="crearComentarios">
  <!-- <div class="container"> -->

    <div class="row">
<div class="col-sm-3 col-hidden-xs"></div>

				<div class="col-sm-6 col-xs-12">
					<div class="col-md-12 well well-sm radio">
						{{> quickForm collection="Comentarios" id="insertComentariosForm" type="insert"  buttonContent="Crear Comentario" buttonClasses="btn btn-lg btn-primary btn-block"}}

				</div>
			</div>
<div class="col-sm-3 col-hidden-xs"></div>
		</div>

	<!-- </div> -->
	{{> ComentariosList}}
</template>

<!-- En la accion de abajo se realiza la creacion de un formulario a mano y
el llamado al metodo a traves de un event en el que se hace llamado al metodo
para el insert con el id de la radio referenciado-->

<!-- <template name="crearComentarios">
	<div class="container-fluid">
			<div class="row col-md-6 col-md-offset-3 top-space">
				<div class="col-md-12 well well-sm radio">
					<form action="#" method="post" class="form" id="insertComentariosForm" role="form">
						<div class="error"></div>
						<input class="form-control" name="titulo" type="text" placeholder="Titulo" required />
						<input class="form-control" name="desc" type="text" placeholder="Descripcion" required />
						<input class="form-control" name="imagen" type="text" placeholder="Imagen" required />
						<button class="btn btn-lg btn-primary btn-block" type="submit">Crear Noticia</button>
					</form>
				</div>
			</div>
	</div>

	{{> ComentariosList}}

</template> -->
