<template name="HomeLayout">
	<!-- {{> Header}} -->
	<main>
		<div class="jumbotron section-gral">
			<h1 class="titulo-principal">Tus Radios Favoritas!!!</h1>
			<p class="titulo-secundario" style="font-size: 40px">Registrate para Ingresar y Seleccionar tus Radios Preferidas</p> 
			<p><a href="#" class="btn btn-primary btn-lg" role="button">{{> loginButtons}}</a></p>
		</div>
	</main>
</template>
