<template name="MainLayout">

	{{> SideNav}}
	{{> Header}}

	<main class="main-layout">
		<div class="container-bottom container-fluid">
		{{> Template.dynamic template=main}}
		</div>
	</main>
</template>
