<template name="ComentariosList">
	<!-- {{> SearchNoticias}} -->
	<div class="container-fluid">
		<div class="row">

			{{#if hasItem}}
				{{#each list}}
					{{> comentario}}
				{{/each}}
			{{else}}

			<div class="col-md-12 text-center">No se encontraron resultados</div>

		{{/if}}

		</div>
	</div>
</template>
