#insertNoticiasForm{
  label{
    font: 25px/1em shadows into light;
    margin: 0;
    color: $primary-color;
    text-shadow: 2px 2px #1f1e20;
  }
  // .form-control{
  //   margin-top: 20px;
  // }
}
