
.font-tabla{
	font-size: 30px;
	.titulo-secundario{
		font-size: 40px;
	}
}

.radio {
    background: rgba(26, 26, 24, 0.7);
    padding: 0 20px 20px;
    margin-bottom: 20px;
		margin-left: 12%;
    position: relative;
    z-index: 1;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s ease;
		border-radius: 15px;
		h3{
			font-size: 3em;
			border-bottom: red solid 3px;
			.titulo-secundario{
				font-size: 23px;
			}
		}
		button{
			margin-top: 20px;
		}
		.fa-trash, .fa-pencil{
			// opacity: 0.3;
		  cursor: pointer;
		  position: absolute;
		  top: 0;
		  right: 0;
		  font-size: 1.6em;
		  display: block;
		  padding: 10px;
			color: white;
		  // color: #222;
		 	transition: all 0.3s ease;
		}

		.fa-pencil{
			  right: 40px;
		}
		.fa-pencil:hover{
			color:$primary-color;
		}

		.fa-trash:hover{
			color: #e54b4b;

		}
		.fa-play{
			cursor: pointer;
			font-size: 1.6em;
			transition: all 0.3s ease;
		}
		.fa-play:hover{
			color: $secondary-color;
		}
		.audio_player{
			display: none;
		}

}

.radio:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
