
/* Navbar */

.side-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    background: #373142;
    color: #fff;
    z-index: 7;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    .top-center {

      text-align: center;
      // padding: 0px 0px 40px 0;

      #login-dropdown-list {
        position: fixed;
      }
    }
}

@media only screen and (min-width: 700px){
  .side-nav {
      height: 100%;
      z-index: 5;
      padding: 50px 0;
      position: fixed;
      top: 0;
      left: 0;
      width: 100px;
      box-shadow: inset -2px 7px 9px -7px rgba(0,0,0,0.7);
  }
}


@media only screen and (min-width: 960px){
  .side-nav{
    width: 200px;
  }
}



.navbar{
  //position: absolute;
  margin: 0px;
  right: 15px;
  background-color: rgba(0, 0, 0, 0.9) !important;
  font-family: shadows into light;
  font-size: 20px;
  font-weight: bold;
  z-index: 2000;

  li {
    padding: 4px;
    a {
      color: $primary-color !important;
    }

    a:hover{
      color: $light-color !important;
   }
 }

}


.main-layout {
  max-width: 77%;
  margin-left: auto;
  margin-right: auto;
  .container-bottom{
    margin-bottom: 100px;
  }
  .new-radio-form{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    color: tomato;
    background: rgba(9, 9, 9, 0.8);
    border-radius: 5px;
    font-family: shadows into light;
    font-size: 20px;
  }
  .fa {
    width: 7%;
    font-size: 25px;
    color: $primary-color;
    // float: right;
  }
  .fa-close {
    float: right;
  }
}
