
/* Botones */

.btn-primary {
	@include add-background($primary-color);
	@include add-border(2px, #ffffff, all);
}

.btn-primary:hover{
	background: lighten($primary-color,10%);
	@include add-border(2px, $secondary-color, all);
}