
.titulo-principal {
    font: 50px/1em lobster;
    margin: 0;
    color: $secondary-color;

}

.titulo-secundario {

    font: 60px/1em shadows into light;
    margin: 0;
    color: $primary-color;
    text-shadow: 2px 2px #1f1e20;

}
