<template name="Search">
	<div id="buscar" class="row">
		<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12  top-space">
			<div id="buscar-content" class="col-md-12 well well-sm radio">
				<div class="form" id="search-form">
					<div class="col-sm-12">
						<h2 class="text-center titulo-secundario">Buscar</h2>
					</div>
					<div class="col-sm-12">
						{{#autoForm collection="Radios"	id="buscarRadiosForm"}}
						{{> afQuickField name='nom'}}
						{{> afQuickField name='desc'}}
						{{/autoForm}}
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
