<template name="RadiosList">
	{{> Search}}
	<div class="container-fluid">
		<div class="row">

			{{#if hasItem}}
				{{#each list}}
					{{> radio}}
				{{/each}}
			{{else}}

			<div class="col-md-12 text-center">No se encontraron resultados</div>

		{{/if}}

		</div>
	</div>
</template>
